<!-- <header class="jumbotron text-center">
  <h1>{{title}}</h1>
  <div class="col-md-8 text-right">
    <span>
     <span>Hi userName </span>
      <a class="nav-item nav-link text-dark" >Logout</a>
    </span>
    <span>
      <a class="nav-item nav-link text-dark" routerLink="/login">Login</a>
    </span>
  
    
  </div>
</header>

<nav class="col-md-10 mx-auto bg-dark p-2 row">
  
  <a class="nav-item nav-link text-white"   routerLink="adduser">Add User</a>
  <a class="nav-item nav-link text-white"   routerLink="login">Login</a>
</nav>

<router-outlet></router-outlet>
-->



<header class="jumbotron text-center">
  <h1>{{title}}</h1>
  <div class="col-md-8 text-right">
    <span *ngIf="loginflag">
     <span>Hi {{userName|titlecase}}  you are {{role}}</span>
      <a class="nav-item nav-link text-dark" (click)="logout()">Logout</a>
    </span>
    <span *ngIf="!loginflag">
      <a class="nav-item nav-link text-dark" routerLink="/login">Login</a>
    </span>
  
    
  </div>
</header>

<nav class="col-md-10 mx-auto bg-dark p-2 row">
  <a class="nav-item nav-link text-white"    routerLink="viewadmin">View Admins</a>
  <a class="nav-item nav-link text-white"   *ngIf="loginflag && role=='admin'" routerLink="adduser">Add User</a>
 
</nav>



<router-outlet></router-outlet>
